# ==============================================================================
# LOCAL ENVIRONMENT CONFIGURATION
# ==============================================================================

# Docker Local Volumes
HOME=

# Ethercalc
ETHERCALC_HOSTNAME=

# Fail2ban
FAIL2BAN_PUID=
FAIL2BAN_GUID=
FAIL2BAN_TZ=

# Hermes
HERMES_HOSTNAME=

# Loki
LOKI_HOSTNAME=

# Mimir
MIMIR_HOSTNAME=

# Nextcloud
NEXTCLOUD_HOSTNAME=

# Ollama
OLLAMA_NUM_PARALLEL=
OLLAMA_MAX_LOADED_MODELS=

# Open Telelemtry
OTEL_HTTP_HOSTNAME=
OTEL_GRPC_HOSTNAME=

# Portainer
PORTAINER_HOSTNAME=
# Postfix
POSTFIX_HOSTNAME=
POSTFIX_ALLOWED_SENDER_DOMAIN1=
POSTFIX_ALLOWED_SENDER_DOMAIN2=
POSTFIX_ALLOWED_SENDER_DOMAIN3=

# Prometheus
PROMETHEUS_HOSTNAME=

# Stirling PDF
STIRLING_PDF_HOSTNAME=
STIRLING_SERVER_PORT=
STIRLING_EXTERNAL_PORT=

# Tailscale
TS_AUTHKEY=
TS_EXTRA_ARGS1=
TS_EXTRA_ARGS2=
TS_EXTRA_ARGS3=

# Traefik
TRAEFIK_HOSTNAME=
TRAEFIK_TLS_ENABLED=
TRAEFIK_ENTRYPOINT=

# Vaultwarden
VAULTWARDEN_HOSTNAME=
