# ==============================================================================
# LOCAL ENVIRONMENT CONFIGURATION
# ==============================================================================

# Docker Local Volumes
HOME=

# Alloy
ALLOY_HOSTNAME=
ALLOY_APP_UID=
ALLOY_APP_GID=
ALLOY_HOST_DOCKER_GID=

# Ethercalc
ETHERCALC_HOSTNAME=

# Fail2ban
FAIL2BAN_PUID=
FAIL2BAN_GUID=
FAIL2BAN_TZ=

# Hermes
HERMES_HOSTNAME=

# Invoice Ninja
INVOICENINJA_HOSTNAME=
INVOICENINJA_APP_KEY=
INVOICENINJA_IN_USER_EMAIL=
INVOICENINJA_IN_PASSWORD=
INVOICENINJA_MAIL_HOST=
INVOICENINJA_MAIL_PORT=
INVOICENINJA_MAIL_FROM_ADDRESS=
INVOICENINJA_MARIADB_PORT=
INVOICENINJA_MARIADB_ROOT_PASSWORD=
INVOICENINJA_MARIADB_DATABASE=
INVOICENINJA_MARIADB_USER=
INVOICENINJA_MARIADB_PASSWORD=

# Loki
LOKI_HOSTNAME=
LOKI_APP_UID=
LOKI_APP_GID=

# Mimir
MIMIR_HOSTNAME=

# Nextcloud
NEXTCLOUD_HOSTNAME=

# Ollama
OLLAMA_MAX_LOADED_MODELS=
OLLAMA_NUM_PARALLEL=
OLLAMA_MAX_QUEUE=
OLLAMA_FLASH_ATTENTION=
OLLAMA_KEEP_ALIVE=
OLLAMA_NOPRUNE=
OMP_NUM_THREADS=

# Open Telelemtry
OTEL_HTTP_HOSTNAME=
OTEL_GRPC_HOSTNAME=

# Paperless-ngx
PAPERLESS_NGX_HOSTNAME=
PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_EMAIL=
PAPERLESS_ADMIN_PASSWORD=

# Portainer
PORTAINER_HOSTNAME=

# Postfix
POSTFIX_HOSTNAME=
POSTFIX_ALLOWED_SENDER_DOMAIN1=
POSTFIX_ALLOWED_SENDER_DOMAIN2=
POSTFIX_ALLOWED_SENDER_DOMAIN3=

# Prometheus
PROMETHEUS_HOSTNAME=

# Stirling PDF
STIRLING_PDF_HOSTNAME=
STIRLING_SERVER_PORT=
STIRLING_EXTERNAL_PORT=

# Tailscale
TS_AUTHKEY=
TS_EXTRA_ARGS1=
TS_EXTRA_ARGS2=
TS_EXTRA_ARGS3=

# Traefik
TRAEFIK_LOCAL_HOSTNAME=
TRAEFIK_CLOUD_HOSTNAME=
TRAEFIK_ENTRYPOINT=
TRAEFIK_TLS_ENABLED=
TRAEFIK_TLS_SETTING=
TRAEFIK_ACME_ENGINE=
TRAEFIK_RESOLVER_NAME=
TRAEFIK_ACME_PROVIDER=

# Vaultwarden
VAULTWARDEN_HOSTNAME=
